<a href="https://colab.research.google.com/github/Rubeesingh/geeks/blob/main/learnpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list
l=[10,'ws',5,4]
l[2]=10
print(l,type(l))

[10, 'ws', 10, 4] <class 'list'>

In [ ]:
#tuple
t=(10,2,'hello')
print(t,type(t))

(10, 2, 'hello') <class 'tuple'>

In [ ]:
a= eval(input("Enter the value1:-"))
b= eval(input("Enter the value2:-"))
print (a+b)

Enter the value1:-0b100
Enter the value2:-2
6

In [ ]:
a=int(input("Enter the value "))
if a%2==0:
   print(a,"Even Number")
else:
  print(a,"odd number")

Enter the value 21
21 odd number

In [ ]:
per=int(input("Enter the value:-"))
if per>=60:
   print("first div")
elif per>=48:
   print("second div")
elif per>=33:
   print("third div")
else:
    print("fail")

Enter the value:-22
fail

In [ ]:
print('''
+add
-subtract
*multiply
/Divide
''')
num1=int(input("Enter the value1:-"))
num2=int(input("Enter the value2:-"))
opr=input("Enter the operator")
if opr=="+":
  print(num1+num2)
elif opr=="-":
  print(num1-num2)
elif opr=="*":
  print(num1*num2)
elif opr=="/":
  print(num1/num2)
else:
  print("Invalid operation")

In [ ]:
#for loop
for n in range(5):
      print(n)
for n in range(1,6):
      print(n)
for n in range(1,6,2):
      print(n)

In [ ]:
n= int(input("Enter the size of the list :-"))
mylist = []

for j in range(n):
  i = int(input())
  mylist.append(i)

print(mylist)


for i in range(n-1,0,-1):
  print(mylist[i])

for i in range(start, stop , step ):

In [ ]:
string1 = input("enter comma separted values")

listq = string1.split(',')
print(listq)
j=0
for i in listq:
  listq[j]=int(i)
  j+=1
print(listq)

Tables

In [ ]:
n=int(input("Enter the number:-"))
for i in range (1,11):
  print( n,"*",i, "=" ,n*i)

Even or odd

In [ ]:
a=int(input("enter the number="))
if a%2==0:
  print("even number")
else:
  print("odd number")

prime numbers

In [ ]:
n=int(input("enter the number"))
if n==1:
    print("its not prime no")
elif(n>1):
  for i in range(2,n):
   if (n%2==0):
     print("its not prime")
     break
  else:
    print("its prime")

check if whether prime or not

In [ ]:
n=int(input("enter the number"))
if n > 1:

    for i in range(2, n-1):

        if (n % i) == 0:
            print(n, "is not a prime number")
            break
    else:
        print(n, "is a prime number")

In [ ]:
n1=int(input("enter first number:-"))
n2=int(input("enter second number:-"))


for i in range(n1, n2 + 1):
   if i > 1:
       for j in range(2, i):
           if (i % j) == 0:
               break
       else:
           print(i)

In [29]:
r=""
r=input("write a string:- ")
t=len(r)

#print(t)
#for a in range(t):
# print(r[a])
print(r[-1::-1])

write a string:- kaise ho bhai
 iahb oh esiak

In [ ]:
r=""
r=input("write a string:- ")
r2=input("")
t=len(r)

#print(t)
#for a in range(t):
# print(r[a])
print(r[-1::-1])

In [ ]:
#list iterattion
l=[1,2,3,4,5,6,7,8,9]
t=len(l)
for a in range(t):
  print(l[a])

print()
for a in l:
    print(a)
#reverse
print()
for a in range(t-1,-1,-1):
  print(l[a])

In [43]:
#list function
l=[1,2,3,4,5]
del l[1]#del function used to delete list value
print(l)
print()
#update list value
l[0]=22
print(l)
#insert()
l.insert(2)
print(l)


#pop()function
print(l.pop(2))
print(l)
print()
#remove( ) function
l.remove(3)
print(l)
print()
#clear()
l.clear()
print(l)
print()

[1, 3, 4, 5]

[22, 3, 4, 5]

TypeError: ignored