<a href="https://colab.research.google.com/github/Rubeesingh/geeks/blob/main/learnpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list
l=[10,'ws',5,4]
l[2]=10
print(l,type(l))

[10, 'ws', 10, 4] <class 'list'>

In [ ]:
#tuple
t=(10,2,'hello')
print(t,type(t))

(10, 2, 'hello') <class 'tuple'>

In [ ]:
a= eval(input("Enter the value1:-"))
b= eval(input("Enter the value2:-"))
print (a+b)

Enter the value1:-0b100
Enter the value2:-2
6

In [ ]:
a=int(input("Enter the value "))
if a%2==0:
   print(a,"Even Number")
else:
  print(a,"odd number")

Enter the value 21
21 odd number

In [ ]:
per=int(input("Enter the value:-"))
if per>=60:
   print("first div")
elif per>=48:
   print("second div")
elif per>=33:
   print("third div")
else:
    print("fail")

Enter the value:-22
fail

In [37]:
original_list = [1, 2, 3, 4, 5]
print("List before reverse : ",original_list)
reversed_list = []
for value in original_list:
  reversed_list = [value] + reversed_list
print("List after reverse : ", reversed_list)

List before reverse :  [1, 2, 3, 4, 5]
List after reverse :  [5, 4, 3, 2, 1]

In [ ]:
print('''
+add
-subtract
*multiply
/Divide
''')
num1=int(input("Enter the value1:-"))
num2=int(input("Enter the value2:-"))
opr=input("Enter the operator")
if opr=="+":
  print(num1+num2)
elif opr=="-":
  print(num1-num2)
elif opr=="*":
  print(num1*num2)
elif opr=="/":
  print(num1/num2)
else:
  print("Invalid operation")

In [ ]:
#for loop
for n in range(5):
      print(n)
for n in range(1,6):
      print(n)
for n in range(1,6,2):
      print(n)

In [51]:
n= int(input("Enter the size of the list :-"))
mylist = []

for j in range(n):
  i = int(input())
  mylist.append(i)

print(mylist)


for i in range(n-1,0,-1):
  print(mylist[i])

Enter the size of the list :-5
12
13
14
5
17
[12, 13, 14, 5, 17]
17
5
14
13

for i in range(start, stop , step ):

In [57]:
string1 = input("enter comma separted values")

listq = string1.split(',')
print(listq)
j=0
for i in listq:
  listq[j]=int(i)
  j+=1
print(listq)

enter comma separted values1,23,4,5,6
['1', '23', '4', '5', '6']
[1, 23, 4, 5, 6]